@font-face {
  font-family: "iconfont"; /* Project id 4042317 */
  src: url('iconfont.woff2?t=1682581878122') format('woff2'),
       url('iconfont.woff?t=1682581878122') format('woff'),
       url('iconfont.ttf?t=1682581878122') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yanjing-zheng:before {
  content: "\e622";
}

.icon-shuzhuangtu:before {
  content: "\e600";
}

.icon-mima:before {
  content: "\e626";
}

.icon-wenzhang:before {
  content: "\e624";
}

.icon-touxiang:before {
  content: "\e679";
}

.icon-ai238:before {
  content: "\e6e2";
}

.icon-lingdang-xianxing:before {
  content: "\e8c0";
}

.icon-sousuoxiao:before {
  content: "\e8d6";
}

.icon-shipinzhibo:before {
  content: "\e65c";
}

.icon-gengduo:before {
  content: "\e60e";
}

.icon-xuanchuanhaibao:before {
  content: "\e621";
}

.icon-briefcase-full:before {
  content: "\e8b7";
}

